
.wrapper-pro{
    padding-left: 50px;
    padding-right: 50px;
}

.th-pro{
    font-size: 1rem!important;
}
.td-pro{
    font-size: 0.8rem!important;
}
.gallery img {
    padding-top: 10px;
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: auto;
}

.gallery-avatar-image img, .gallery-product-image img {
    object-fit: contain;
    width: 195px;
    height: 130px;
    margin-right: 10px;
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 5px 0px darkgrey;
    margin-bottom: 10px;

}
.img-tb{
    /*object-fit: contain;*/
    width: 120px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 5px 0px darkgrey;
    margin-bottom: 10px;
}
.modal-dialog.modal-dialog-top.modal-info-product{
    max-width: 1000px!important;
}
.img-list{
    width: 150px;
    height: 80px;
}
.lb-info{
    font-size: 15px!important;
}

.th-stt{
    width: 30px!important;
}
.td-actions{
    width: 100px;
}
.star-rating{
    color: yellow;
    font-size: 18px!important;
}
.sidebar-child{
    padding-left: 15px;
}
.lb-info-orders{
    padding-left: 15px!important;
    font-size: 15px!important;
}