.wrapper-prot{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.th-prot{
    font-size: 0.85rem!important;
    font-weight: 600!important;
}
.td-prot{
    font-size: 0.8rem!important;
}
#th-name-type{
    width: 25%!important;
}
.div-pagination{
    padding-left: 40%!important;
}
.force-inline {
    display: inline-block ;
}
.a-prot{
    color: #1da2ff!important;
    text-underline: none;
}
a:hover{
    text-decoration: none!important;
}