@media only screen and (min-width: 993px) {
    .container {
        width: 90% !important;
    }

    /*.col.news {*/
        /*padding-left: 10px !important;*/
    /*}*/

    .message {
        top: 64px !important;
    }
}

@media only screen and (max-width: 992px) {
    /*.slider-mobile {*/
        /*width: 98%;*/
    /*}*/
    .container {
        width: 98% !important;
    }
}

@media only screen and (min-width: 601px) {
    /*#cart-count {*/
        /*margin-left: -40px !important;*/
    /*}*/
}

@media only screen and (max-width: 600px) {

    /*.slider-mobile .slider-mobile {*/
        /*height: 175px !important;*/
    /*}*/

    /*a.sidenav-trigger.navbar-fixed {*/
        /*width: 56px !important;*/
    /*}*/

    /*.mini-modal {*/
        /*width: 90% !important;*/
    /*}*/
}


/*::-webkit-scrollbar {*/
    /*width: 20px;*/
/*}*/

    /*Scrollbar*/
    body ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
    }

    body ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0px;
    }

    body ::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.25);
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }

    body ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0, 0, 0, 0.15);
    }

    body ::-webkit-scrollbar-thumb:hover {
        background: rgba(128, 135, 139, 0.8);
    }

    /* Inverted UI */

    body .ui.inverted::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
    }

    body .ui.inverted::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.25);
    }

    body .ui.inverted::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255, 255, 255, 0.15);
    }

    body .ui.inverted::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.35);
    }

body {
    /*background-color: #f2f2f2;*/
    background-color: #F2F3F3;
}

.container {
    width: 100%;
}

.divided-bottom {
    margin-bottom: 10px;
}

.row {
    margin: 0;
}

.row .col {
    padding: 0;
}

.col .row {
    margin: 0;
}

.btn-fluid {
    width: 100%;
}

.modal-header {
    margin-top: 0;
    margin-bottom: 20px;
}

/*.mini-modal {*/
    /*width: 30%;*/
/*}*/

/*.ui.card, .ui.cards>.card {*/
    /*width: 100% !important;*/
/*}*/

.btn {
    text-transform: unset;
    font-weight: bolder;
}

.input-field.col label {
    left: 0;
}

    /*Navbar custom*/



    /*a.sidenav-trigger.navbar-fixed {*/
        /*position: fixed;*/
        /*text-align: right;*/
        /*width: 64px;*/
        /*top: 0;*/
        /*float: none;*/
        /*!*margin-left: 1.5rem;*!*/
        /*color: white;*/
        /*z-index: 2;*/
        /*right: 0;*/
    /*}*/

    /*Slider & News custom*/

    .slider .indicators .indicator-item.active {
        background-color: rebeccapurple;
    }
    .slider .indicators {
        bottom: 5%;
        z-index: 100;
        /* text-align: left; */
    }

    .slider .indicators .indicator-item {
        margin: 0 5px;
        width: 10px;
        height: 10px;
    }

    .tabs .tab {
        line-height: 40px;
    }

    .truncate-twolines {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .col-news a {
        margin: 10px;
        color: black;
    }

    .col-news span {
        margin-right: 10px;
    }

    .slider-mobile .slider, .slides {
        height: 100% !important;
    }

    /*Foody custom*/

    .col-foody .col {
        padding: 0 5px 0 5px;
    }

    .col-foody h5 {
        margin-bottom: 5px;
    }

    .col-foody .truncate {
        margin-bottom: 5px !important;
    }

    .cost {
        color: red;
        font-weight: bolder;
    }

    .sale-foody {
        margin-left: 5px;
        background-color: red;
        color: white;
        border-radius: 5px
    }

    .sale-foody b {
        padding: 0 5px 0 5px;
    }

    .old-cost {
        color: black;
        text-decoration: line-through;
    }

    .waves-effect.red.lighten-2:hover {
        background-color: #EF9A9A !important;
    }

    .pin {
        z-index: 1000;
        position: fixed !important;
    }




    .dimmer {
        z-index: 1001 !important;
    }
    /*.modal-overlay {*/
        /*opacity: 0.8 !important;*/
    /*}*/

    /*Stars rating custom*/


