.no-mar {
  margin: 0;
}
.no-pad {
  padding: 0;
}

/*Scrollbar*/
body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}

/* Inverted UI */

body .ui.inverted::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

body .ui.inverted::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}

body .ui.inverted::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.15);
}

body .ui.inverted::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90% !important;
  }
}
@media only screen and (min-width: 601px) {

}
@media only screen and (max-width: 992px) {
  .container {
    width: 98% !important;
  }
}
@media only screen and (max-width: 600px) {

}
@media screen and (min-width: 601px) and (max-width: 992px) {

}

.container {
  width: 100%;
}

.btn {
  text-transform: unset;
  font-weight: bolder;
}